## Transformation

In [1]:

import pandas as pd

In [466]:
df = pd.read_csv('./1Food_Inspections.csv')

In [505]:

#import os
#from src.etl import etl


#def load_ingestion(path):
#    return etl.load_df(path)

def estandariza_variables(df):
    columnas_antes=df.columns
    df.columns=df.columns.str.replace(' ','_')
    df.columns=df.columns.str.replace('#','num')
    df.columns=df.columns.str.lower()


#titanic.rename(columns={col: col.lower() for col in titanic.columns.values}, 
#        inplace=True)

def cambiar_minusculas_variable(df,variable):
    df[variable]=df[variable].str.lower()
    #df.rename(columns={col: df[col].lower() for col in df.columns.values}, 
     #   inplace=True)

    #df = df.applymap(lambda s:s.lower() for col in df.columns.values if type(s) == str else s)
    
    

def date_transformation(col,df):
    df[col]=pd.to_datetime(df[col])
    return df

def numeric_transformation(col,df):
    df[col]=pd.to_numeric(df[col], )
    return df

def categoric_trasformation(col,df):
    df = df.astype({col:'category'}) 
    return df

def time_transformation(col,df):
    df[col]=pd.to_datetime(df[col], errors='coerce',format='%H:%M:%S')
    return df

def data_imputation_state(col,df):
    return df[df[col]== "il"]

#def data_imputation_city(col,df):
#    return df[df[col]].replace(to_replace = ["312chicago", "cchicago", "chchicago", "chcicago", \
#                                            "chicagochicago", "chicagohicago", "chicagoi"], value= "chicago")

def data_imputation_spell(df):
    return df.replace(to_replace = ["312chicago", "cchicago", "chchicago", "chcicago", \
                                            "chicagochicago", "chicagohicago", "chicagoi", \
                                    "chicago."], value= "chicago")


def data_imputation_city(col,df):
    return df[df[col]== "chicago"]

#def save_transformation(df):
#    path = 'output/transformation_df.pkl'
#    utils.save_df(df, path)


def transform(df):
#def transform(path):
    #df = load_ingestion(path)
    estandariza_variables(df)
    
    cambiar_minusculas_variable(df,'dba_name')
    cambiar_minusculas_variable(df,'aka_name')
    cambiar_minusculas_variable(df,'facility_type')
    cambiar_minusculas_variable(df,'risk')
    cambiar_minusculas_variable(df,'address')
    cambiar_minusculas_variable(df,'city')
    cambiar_minusculas_variable(df,'state')
    cambiar_minusculas_variable(df,'inspection_type')
    cambiar_minusculas_variable(df,'results')
    cambiar_minusculas_variable(df,'violations')
    
    
    categoric_trasformation('risk',df)   
    date_transformation('inspection_date',df)
    data_imputation_state('state',df)
    data_imputation_spell(df)
    data_imputation_city('city',df)
    
    return df
    
    #df['inspection_id']=df['inspection_id'].astype('str')
    #df['license_num']=df['license_num'].astype('str')
    #df['zip']=df['zip'].astype('str')
    
    #df = time_transformation('inspection_date',df)
    


    #save_transformation(df)

In [507]:
transform(df)

,inspection_id,dba_name,aka_name,license_num,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location,risky
0,2453552,clamp down burgers,NaN,2749943.0,NaN,risk 2 (medium),1742 w division st,chicago,il,60622.0,2020-10-20,license,no entry,NaN,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)",NaN
1,2386633,jin ju,jin ju,27137.0,restaurant,risk 1 (high),5203 n clark st,chicago,il,60640.0,2020-08-28,canvass,no entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)",NaN
2,2386595,la biznaga #2,la biznaga #2,2708992.0,NaN,risk 1 (high),2949 w belmont ave,chicago,il,60618.0,2020-08-27,complaint,no entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)",NaN
3,2386464,uni sushi bristo,uni sushi bistro,2262637.0,restaurant,risk 1 (high),1752 w north ave,chicago,il,60622.0,2020-08-25,complaint,no entry,NaN,41.910676,-87.672205,"(-87.67220465807979, 41.91067561170382)",NaN
4,2386398,kiki's bistro,kiki's bistro,22899.0,restaurant,risk 1 (high),900 n franklin st,chicago,il,60610.0,2020-08-24,canvass,no entry,NaN,41.898998,-87.635921,"(-87.63592067312285, 41.89899799424835)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"zullo's markets, llc",zullo's market,2016915.0,restaurant,risk 2 (medium),131 n clinton st,chicago,il,60661.0,2010-02-18,license,fail,NaN,41.884188,-87.641120,"(-87.64111966683218, 41.884187507127805)",NaN
215063,68205,la fonda chiquita tlc,la fonda chiquita,2017215.0,restaurant,risk 1 (high),5940 w diversey ave,chicago,il,60639.0,2010-02-09,license,fail,12. hand washing facilities: with soap and san...,41.931260,-87.775203,"(-87.77520287598688, 41.93125971874477)",NaN
215064,88234,kabab cuisine 2,kabab cuisine 2,2014076.0,restaurant,risk 1 (high),6320 n lincoln ave,chicago,il,60659.0,2010-02-01,license re-inspection,pass,NaN,41.996139,-87.716968,"(-87.71696834498202, 41.996139331170895)",NaN
215065,74311,margarita distributors,NaN,2017298.0,wholesale,risk 3 (low),2332 s blue island ave bldg,chicago,il,60608.0,2010-02-19,license re-inspection,pass,NaN,41.849940,-87.672421,"(-87.67242100722251, 41.84994008002549)",NaN
215066,67838,our lady of lourdes,our lady of lourdes,42577.0,daycare (under 2 years),risk 1 (high),1449 s keeler ave,chicago,il,60623.0,2010-01-12,canvass,fail,18. no evidence of rodent or insect outer open...,41.861003,-87.729762,"(-87.72976247742804, 41.861003270876026)",NaN

## Feature engineering

In [534]:

#import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date
import string
#from src.utils import utils
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import TimeSeriesSplit
#from sklearn.model_selection import GridSearchCV


from sklearn.feature_selection import VarianceThreshold

In [509]:
def add_column_days(df):
    hoy = date.today().strftime("%Y-%m-%d")
    ins = df['inspection_date'].apply(lambda x: x.strftime("%Y-%m-%d"))
    fecha1 = datetime.strptime(hoy, "%Y-%m-%d")
    fecha2 = ins.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
    df['days'] = fecha1 - fecha2
    return df

def add_column_month(df):
    df['inspection_month'] = df['inspection_date'].dt.month
    return df

def add_column_day(df):
    df['inspection_day'] = df['inspection_date'].dt.dayofweek
    return df

def add_column_violation_num(df):
    df['violations']=df['violations'].fillna("0")
    df['violation_num'] = df['violations'].apply(lambda row:[int(Numero) for Numero in row.split(".")\
                                                             if Numero.isdigit()][0])    
    return df



def add_column_pass(df):
    
    #df['results_des'] = df['results']

    dic_results = {'pass': 'pass',
                   'out of business': 'fail',
                   'no entry': 'fail',
                   'fail': 'fail',
                   'not ready': 'fail',
                   'pass w/ conditions': 'pass',
                   'business not located': 'fail'}
    df['pass'] = df.results.map(dic_results)
    return df


def add_column_risky(df):
    dic_risk = {'risk 1 (high)': 'high',
                   'risk 2 (medium)': 'medium',
                   'risk 3 (low)': 'low',
                   'all': 'high'}
    df['risky'] = df.risk.map(dic_risk)
    
    return df


def new_features(df):
    add_column_days(df)
    add_column_month(df)
    add_column_day(df)
    add_column_violation_num(df)
    add_column_pass(df)
    add_column_risky(df)
    return df


def feature_generation(df):
    df.inputs = df.drop(['aka_name', 'address', 'city', 'state','latitude', 'longitude', \
                         'location'], axis=1)
    return df.inputs

def feature_selection(df):
        #Dividir la base en train y test
    df_train,df_test = train_test_split(df,test_size=0.2,random_state=4,shuffle=True)

In [525]:

new_features(df)

#useful_cols = ["Open", "High", "Low", "Close", "Volume"]
#X = df_train.loc[:, useful_cols].values

,inspection_id,dba_name,aka_name,license_num,facility_type,risk,address,city,state,zip,...,violations,latitude,longitude,location,risky,days,inspection_month,inspection_day,violation_num,pass
0,2453552,clamp down burgers,NaN,2749943.0,NaN,risk 2 (medium),1742 w division st,chicago,il,60622.0,...,0,41.903387,-87.671740,"(-87.67174026586648, 41.903386755553484)",medium,165 days,10,1,0,fail
1,2386633,jin ju,jin ju,27137.0,restaurant,risk 1 (high),5203 n clark st,chicago,il,60640.0,...,0,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)",high,218 days,8,4,0,fail
2,2386595,la biznaga #2,la biznaga #2,2708992.0,NaN,risk 1 (high),2949 w belmont ave,chicago,il,60618.0,...,0,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)",high,219 days,8,3,0,fail
3,2386464,uni sushi bristo,uni sushi bistro,2262637.0,restaurant,risk 1 (high),1752 w north ave,chicago,il,60622.0,...,0,41.910676,-87.672205,"(-87.67220465807979, 41.91067561170382)",high,221 days,8,1,0,fail
4,2386398,kiki's bistro,kiki's bistro,22899.0,restaurant,risk 1 (high),900 n franklin st,chicago,il,60610.0,...,0,41.898998,-87.635921,"(-87.63592067312285, 41.89899799424835)",high,222 days,8,0,0,fail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"zullo's markets, llc",zullo's market,2016915.0,restaurant,risk 2 (medium),131 n clinton st,chicago,il,60661.0,...,0,41.884188,-87.641120,"(-87.64111966683218, 41.884187507127805)",medium,4062 days,2,3,0,fail
215063,68205,la fonda chiquita tlc,la fonda chiquita,2017215.0,restaurant,risk 1 (high),5940 w diversey ave,chicago,il,60639.0,...,12. hand washing facilities: with soap and san...,41.931260,-87.775203,"(-87.77520287598688, 41.93125971874477)",high,4071 days,2,1,12,fail
215064,88234,kabab cuisine 2,kabab cuisine 2,2014076.0,restaurant,risk 1 (high),6320 n lincoln ave,chicago,il,60659.0,...,0,41.996139,-87.716968,"(-87.71696834498202, 41.996139331170895)",high,4079 days,2,0,0,pass
215065,74311,margarita distributors,NaN,2017298.0,wholesale,risk 3 (low),2332 s blue island ave bldg,chicago,il,60608.0,...,0,41.849940,-87.672421,"(-87.67242100722251, 41.84994008002549)",low,4061 days,2,4,0,pass
215066,67838,our lady of lourdes,our lady of lourdes,42577.0,daycare (under 2 years),risk 1 (high),1449 s keeler ave,chicago,il,60623.0,...,18. no evidence of rodent or insect outer open...,41.861003,-87.729762,"(-87.72976247742804, 41.861003270876026)",high,4099 days,1,1,18,fail

In [527]:
def transform_newf(df):
    #categoric_trasformation('zip',df)
    #categoric_trasformation('inspection_type',df)
    categoric_trasformation('inspection_month',df)
    categoric_trasformation('inspection_day',df)
    categoric_trasformation('pass',df)
    categoric_trasformation('risky',df)

    #zip
#inspection_type
#results
#inspection_month
#inspection_day
#violations
#inspection_month
#inspection_day
transform_newf(df)

In [610]:
#Imputaciones

df_inputs = df.drop(['aka_name', 'risk', 'address', 'city', 'state','results', 'violations',\
                     'latitude', 'longitude', 'location'], axis=1)

df_inputs.columns.values
df_inputs.isna().sum()


transformers = [('impute_facility_type', SimpleImputer(strategy="most_frequent"), ['facility_type']),
                ('impute_zip', SimpleImputer(strategy="most_frequent"), ['zip']),
                ('impute_inspection_type', SimpleImputer(strategy="most_frequent"), ['inspection_type']),
                ('impute_risky', SimpleImputer(strategy="most_frequent"), ['risky'])]


col_trans = ColumnTransformer(transformers, remainder="passthrough", n_jobs=-1, verbose=True)
col_trans.fit(df_inputs)
df_inputs.isna().sum()

inspection_id          0
dba_name               0
license_num           17
facility_type       4889
zip                   52
inspection_date        0
inspection_type        1
risky                 69
days                   0
inspection_month       0
inspection_day         0
violation_num          0
pass                   0
dtype: int64

In [611]:
u = col_trans.transform(df_inputs)

data_input = pd.DataFrame(u, 
             columns=['facility_type', 'zip', 'inspection_type', 'risky', 'inspection_id',\
                      'dba_name', 'license_num', 'inspection_date',\
                      'days', 'inspection_month', 'inspection_day', \
                      'violation_num', 'pass'])

#data_input.isna().sum()
#data_input.inspection_month.unique()
data_input

,facility_type,zip,inspection_type,risky,inspection_id,dba_name,license_num,inspection_date,days,inspection_month,inspection_day,violation_num,pass
0,restaurant,60622.0,license,medium,2453552,clamp down burgers,2749943.0,2020-10-20,165 days,10,1,0,fail
1,restaurant,60640.0,canvass,high,2386633,jin ju,27137.0,2020-08-28,218 days,8,4,0,fail
2,restaurant,60618.0,complaint,high,2386595,la biznaga #2,2708992.0,2020-08-27,219 days,8,3,0,fail
3,restaurant,60622.0,complaint,high,2386464,uni sushi bristo,2262637.0,2020-08-25,221 days,8,1,0,fail
4,restaurant,60610.0,canvass,high,2386398,kiki's bistro,22899.0,2020-08-24,222 days,8,0,0,fail
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,restaurant,60661.0,license,medium,229233,"zullo's markets, llc",2016915.0,2010-02-18,4062 days,2,3,0,fail
215063,restaurant,60639.0,license,high,68205,la fonda chiquita tlc,2017215.0,2010-02-09,4071 days,2,1,12,fail
215064,restaurant,60659.0,license re-inspection,high,88234,kabab cuisine 2,2014076.0,2010-02-01,4079 days,2,0,0,pass
215065,wholesale,60608.0,license re-inspection,low,74311,margarita distributors,2017298.0,2010-02-19,4061 days,2,4,0,pass
215066,daycare (under 2 years),60623.0,canvass,high,67838,our lady of lourdes,42577.0,2010-01-12,4099 days,1,1,18,fail

In [627]:
data_input.inspection_month.unique()

array([10, 8, 7, 6, 5, 4, 3, 2, 12, 1, 11, 9], dtype=object)

In [613]:
data_input.isna().sum()

facility_type        0
zip                  0
inspection_type      0
risky                0
inspection_id        0
dba_name             0
license_num         17
inspection_date      0
days                 0
inspection_month     0
inspection_day       0
violation_num        0
pass                 0
dtype: int64

In [625]:

transformers_2 = [('one_hot', OneHotEncoder(), ['inspection_month','inspection_day', 'risky'])]


col_trans_2 = ColumnTransformer(transformers_2, remainder="passthrough", n_jobs=-1, verbose=True)
col_trans_2.fit(data_input)

w = col_trans_2.transform(data_input)

final_df = pd.DataFrame(w, 
             columns=['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec',\
                      'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun',\
                      'medium', 'high', 'low',\
                      'facility_type', 'zip', 'inspection_type',\
                      'inspection_id',\
                      'dba_name', 'license_num', 'inspection_date',\
                      'days',\
                      'violation_num', 'pass'])


final_df

,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,...,facility_type,zip,inspection_type,inspection_id,dba_name,license_num,inspection_date,days,violation_num,pass
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,restaurant,60622.0,license,2453552,clamp down burgers,2749943.0,2020-10-20,165 days,0,fail
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,restaurant,60640.0,canvass,2386633,jin ju,27137.0,2020-08-28,218 days,0,fail
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,restaurant,60618.0,complaint,2386595,la biznaga #2,2708992.0,2020-08-27,219 days,0,fail
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,restaurant,60622.0,complaint,2386464,uni sushi bristo,2262637.0,2020-08-25,221 days,0,fail
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,restaurant,60610.0,canvass,2386398,kiki's bistro,22899.0,2020-08-24,222 days,0,fail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215062,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,restaurant,60661.0,license,229233,"zullo's markets, llc",2016915.0,2010-02-18,4062 days,0,fail
215063,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,restaurant,60639.0,license,68205,la fonda chiquita tlc,2017215.0,2010-02-09,4071 days,12,fail
215064,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,restaurant,60659.0,license re-inspection,88234,kabab cuisine 2,2014076.0,2010-02-01,4079 days,0,pass
215065,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,wholesale,60608.0,license re-inspection,74311,margarita distributors,2017298.0,2010-02-19,4061 days,0,pass
215066,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,daycare (under 2 years),60623.0,canvass,67838,our lady of lourdes,42577.0,2010-01-12,4099 days,18,fail

In [629]:
final_df.fri

0         0.0
1         1.0
2         0.0
3         0.0
4         0.0
         ...
215062    0.0
215063    0.0
215064    0.0
215065    1.0
215066    0.0
Name: fri, Length: 215067, dtype: object

In [631]:
#df.results.values.shape
#X = df['risky'].values.reshape(df.shape[0],1)
#class_encoder = OneHotEncoder(categories="auto")
#class_encoder.fit(X)
#class_encoder.transform(X)
#class_encoder.categories_

In [630]:
#class_encoder = OneHotEncoder(categories="auto")
#class_encoder.categories_
#data_input = df.drop(['aka_name', 'risk', 'address', 'city', 'state','results', 'violations',\
#                     'latitude', 'longitude', 'location'], axis=1)

#transformers_2 = [('one_hot', OneHotEncoder(), ['inspection_month',\
#                                               'inspection_day', 'pass', 'risky'])]



#col_trans_2 = ColumnTransformer(transformers_2, remainder="drop", n_jobs=-1, verbose=True)


#col_trans_2.fit(data_input)
#df_input_vars = col_trans_2.transform(data_input)

In [ ]:
variance_threshold = VarianceThreshold(threshold=0.1)
variance_threshold.fit(df_input_vars)
variance_threshold.transform(df_input_vars)
variance_threshold.variances_
#data_input.columns

In [414]:

#df.inspection_type.unique()
#dfy = df.groupby('risky').nunique()
#dfy

#dfy[dfy['inspection_id']<100]

#sum(df['risk'].isnull())
#df[df['risk'] == 'all']
df.inputs.dtypes

inspection_id                 int64
dba_name                     object
license_num                 float64
facility_type                object
zip                         float64
inspection_date      datetime64[ns]
inspection_type              object
days                timedelta64[ns]
inspection_month              int64
inspection_day                int64
violation_num                 int64
pass                         object
risky                        object
dtype: object

In [471]:
feature_generation(df)
#imputar na:
#facility_type most_frequent
#risk most_frequent
#zip most_frequent
#inspection_type most_frequent

#one hot:
##facility_type
#risk
#zip
#inspection_type
#results
#inspection_month
#inspection_day
#violations
#inspection_month
#inspection_day

<ipython-input-469-d9322ec9e454>:61: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.inputs = df.drop(['aka_name', 'address', 'city', 'state','latitude', 'longitude', \

,inspection_id,dba_name,license_num,facility_type,risk,zip,inspection_date,inspection_type,results,violations,risky
0,2453552,CLAMP DOWN BURGERS,2749943.0,NaN,Risk 2 (Medium),60622.0,2020-10-20,License,No Entry,NaN,NaN
1,2386633,JIN JU,27137.0,Restaurant,Risk 1 (High),60640.0,2020-08-28,Canvass,No Entry,NaN,NaN
2,2386595,LA BIZNAGA #2,2708992.0,NaN,Risk 1 (High),60618.0,2020-08-27,Complaint,No Entry,NaN,NaN
3,2386464,Uni Sushi Bristo,2262637.0,Restaurant,Risk 1 (High),60622.0,2020-08-25,Complaint,No Entry,NaN,NaN
4,2386398,KIKI'S BISTRO,22899.0,Restaurant,Risk 1 (High),60610.0,2020-08-24,Canvass,No Entry,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
215062,229233,"ZULLO'S MARKETS, LLC",2016915.0,Restaurant,Risk 2 (Medium),60661.0,2010-02-18,License,Fail,NaN,NaN
215063,68205,LA FONDA CHIQUITA TLC,2017215.0,Restaurant,Risk 1 (High),60639.0,2010-02-09,License,Fail,12. HAND WASHING FACILITIES: WITH SOAP AND SAN...,NaN
215064,88234,KABAB CUISINE 2,2014076.0,Restaurant,Risk 1 (High),60659.0,2010-02-01,License Re-Inspection,Pass,NaN,NaN
215065,74311,MARGARITA DISTRIBUTORS,2017298.0,Wholesale,Risk 3 (Low),60608.0,2010-02-19,License Re-Inspection,Pass,NaN,NaN
215066,67838,OUR LADY OF LOURDES,42577.0,Daycare (Under 2 Years),Risk 1 (High),60623.0,2010-01-12,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,NaN